body{
    background-color: darkseagreen;
}
    

header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: #2c3e50;
    color: #fff;
}


header h1,
header nav {
    display: inline-block;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;

}

header h1 {
    height: 100%;
}

header h1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}

.box {
      margin top: 20rem;      
      width: 250px;
      height: 50px;
      
      padding: 20px;
      border: 6px solid #006400;
      margin: 50px;
      margin: 80px;
      margin-left: 40%;
      text-align: center;

    }

    .button {
    font-weight: bold;
    background-color: #lightgray;
    border-radius: 25px;
    font-size: .8rem;
    padding: .9rem;
    color: black;
    margin-left: 47%;
}

section{
    text-align: center;
}